<main>
  <h3>Home</h3>

  <!-- For Component View -->
  <div id="meetingSDKElement">
    <!-- Zoom Meeting SDK Component View Rendered Here -->
  </div>
<mwl-calendar-day-view [viewDate]="viewDate" [events]="events" [dayStartHour]="9" [dayEndHour]="17">
</mwl-calendar-day-view>

  <div class="count-down-timer">
    <p>Joining Meeting</p>
    <div class="wrapper">
      <div class="description">
        <p>Minutes</p>
        <p>Seconds</p>
      </div>
      <div class="times">
        <p #minutes></p>
        <p #seconds></p>
      </div>
    </div>
  </div>

  <div *ngFor="let m of meetings">
    {{m.topic}} - {{m.start_time}}
    <button (click)="getSignature()">Join {{m.id}}</button>
  </div>
</main>